#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 2.5rem;		/* Footer height */
}

#footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.far fa-envelope {
	width: 24px !important;
	height: 24px !important;
}

.fab fa-github {
	width: 24px !important;
	height: 24px !important;
}

.fab fa-linkedin {
	width: 24px !important;
	height: 24px !important;
}

/*position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem; /*